body {
	border:20px solid #2c3e50;
	padding:20px;
	max-width:700px;
	width:80%;
	margin: 20px auto;
	font-family:Source Sans Pro;
	background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.quote {
	border-left: 5px solid #2c3e50;
	padding-left: 5px;
}
.date {
	color:#2c3e50;
	text-transform: uppercase;
	letter-spacing: .2rem;
}
.post {
	margin-bottom: 20px;
}
h2 {
	color:#2c3e50;
	font-size:2rem;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.title {
	font-size: 70px;
	color:#2c3e49;
	text-decoration: underline;
}