h1	{
	/*color:rgba(0,200,100, 0.8);
  border-color: purple;
  border-width: 5px;
  border-style: solid;*/

  border: 2px purple solid;
}

h4	{
	background: rgb(255,100,80);
}

body {
	background: url(http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/65lf7-wallpapers-133325670-1920x1080.jpg);
}

/*borders:

width
color
style*/