/*font-family*/
p {
	font-family:Consolas;
}

h1 {
	font-family:Arial;
}
/*font-size*/
h1 {
	font-size: 70px;
}

span {
	font-size: 2.0em;
}

p {
	font-size: 25px;
}
/*font-weight*/
p {
	font-weight:bold;
}
/*line-height*/
p {
	line-height:1.5;
}
/*text-align*/
h1 {
	text-align: center;
}
/*text-decoration*/
p {
	text-decoration: overline;
}